/* styles.css */
.custom-button {
    -fx-background-color: #FFA500;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-min-width: 80px;
}
/* CRUD button */
.crud-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-min-width: 80px;
}

.goFront-button {
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-min-width: 80px;
}

.custom-table-view {
    -fx-background-color: #FFB6C1;
}

.custom-table-view .column-header-background {
    -fx-background-color: #FFB6C1;
    -fx-text-fill: blue;
}

.custom-table-view .table-row-cell {
    -fx-background-color: #FFD9E6;
}

.PDF-button {
    -fx-background-color: #E12929;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-min-width: 80px;
}


